
/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {

  --eduact-text: #697585;
  --eduact-text-rgb: 105, 117, 133;
  --eduact-text2: #B3ADE1;
  --eduact-text2-rgb: 179, 173, 225;
  --eduact-grey: #B7B0B4;
  --eduact-grey-rgb: 183, 176, 180;
  --eduact-soft: #F1F2FD;
  --eduact-soft-rgb: 241, 242, 253;
  --eduact-soft2: #F6F5F5;
  --eduact-soft2-rgb: 246, 245, 245;
  --eduact-soft3: #E0E3FD;
  --eduact-soft3-rgb: 224, 227, 253;
  --eduact-soft4: #E4E4E4;
  --eduact-soft4-rgb: 228, 228, 228;
  --eduact-soft5: #F6F6F6;
  --eduact-soft5-rgb: 246, 246, 246;
  --eduact-base: #4F5DE4;
  --eduact-base-rgb: 79, 93, 228;
  --eduact-secondary: #F57005;
  --eduact-secondary-rgb: 245, 112, 5;
  --eduact-black: #5d61e6;
  --eduact-black-rgb: 42, 37, 77;
  --eduact-black2: #000000;
  --eduact-black2-rgb: 0, 0, 0;
  --eduact-white: #ffffff;
  --eduact-white-rgb: 255, 255, 255;
}







.eduact-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  background-color: var(--eduact-base);
  color: var(--eduact-white);
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: capitalize;
  padding: 16px 32px 15px;
  overflow: hidden;
  z-index: 2;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.eduact-btn-second {
  background-color: var(--eduact-secondary);
}

.eduact-btn__text {
  position: relative;
  z-index: 2;
}

.eduact-btn__curve {
  position: absolute;
  right: -15px;
  top: 0;
  width: 33px;
  height: 100%;
  background: var(--eduact-soft2);
  opacity: 0.2;
  z-index: 0;
  -webkit-transform: skewX(-22deg);
  transform: skewX(-22deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.eduact-btn i {
  display: inline-block;
  margin-left: 11px;
  position: relative;
  top: 2px;
}

.eduact-btn:hover {
  color: var(--eduact-white);
}

.eduact-btn:hover .eduact-btn__curve {
  right: 0;
  width: 100%;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}

.bootstrap-select .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  border: none;
}

.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
  background-color: var(--eduact-base);
}

/* scroll to top */
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px RGBA(var(--eduact-black2-rgb), 0.3);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.scroll-top--active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-top::after {
  position: absolute;
  content: "\e904";
  font-family: 'icomoon' !important;
  text-align: center;
  line-height: 50px;
  font-size: 17px;
  color: var(--eduact-base);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.scroll-top__circle path {
  stroke: var(--eduact-base);
  stroke-width: 4;
  fill: none;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* post paginations */
.post-pagination {
  margin-bottom: 0;
  margin-top: 0px;
}

@media (min-width: 992px) {
  .post-pagination {
    margin-top: 0px;
  }
}

.post-pagination a {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: #eff2f6;
  align-items: center;
  justify-content: center;
  color: var(--eduact-text);
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  transition: 500ms ease;
}

@media (min-width: 992px) {
  .post-pagination a {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
}

.post-pagination a:hover {
  background-color: var(--eduact-base);
  color: #fff;
}

.post-pagination li:first-child a {
  background-color: var(--eduact-base);
  color: #fff;
}

.post-pagination li:last-child a {
  background-color: var(--eduact-black);
  color: #fff;
}

.post-pagination li + li {
  margin-left: 10px;
}

/* owl carousel overfllow */
.owl-with-shadow .owl-stage-outer {
  overflow: visible;
}

.owl-with-shadow .owl-stage-outer .owl-item {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
}

.owl-with-shadow .owl-stage-outer .owl-item.active {
  opacity: 1;
  visibility: visible;
}

/* owl carousel Dots */
.eduact-owl__dots.owl-carousel {
  position: relative;
}

.eduact-owl__dots.owl-carousel.owl-theme .owl-dots,
.eduact-owl__dots.owl-carousel .owl-dots {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eduact-owl__dots.owl-carousel.owl-theme .owl-dots .owl-dot,
.eduact-owl__dots.owl-carousel .owl-dots .owl-dot {
  height: 10px;
  border-radius: 50%;
  width: 10px;
  background-color: rgba(var(--eduact-base-rgb), 0.27);
  margin: 0 11px;
  position: relative;
  top: 0;
  z-index: 2;
}

.eduact-owl__dots.owl-carousel.owl-theme .owl-dots .owl-dot::after,
.eduact-owl__dots.owl-carousel .owl-dots .owl-dot::after {
  position: absolute;
  left: -5px;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  content: '';
  border-radius: 50%;
  border: 1px solid var(--eduact-base);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

@media (max-width: 767px) {
  .section-title {
    margin-bottom: 40px;
  }
}



/*--------------------------------------------------------------
# Custom Cursor
--------------------------------------------------------------*/
.custom-cursor__cursor {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid var(--eduact-base);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(calc(-50% + 5px), -50%);
  transform: translate(calc(-50% + 5px), -50%);
  z-index: 999991;
}

.custom-cursor__cursor-two {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--eduact-base);
  opacity: .3;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: width .3s, height .3s, opacity .3s;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 999991;
}

.custom-cursor__hover {
  background-color: var(--eduact-base);
  opacity: 0.4;
}

.custom-cursor__innerhover {
  width: 25px;
  height: 25px;
  opacity: .4;
}



body.boxed-wrapper .page-wrapper {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--eduact-white);
  box-shadow: 0px 0px 100px 0px rgba(var(--eduact-black2-rgb), 0.08);
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  transition: filter 0.5s ease;
}


/*-- header two --*/
.main-header-two .main-menu {
  position: relative;
  background: var(--eduact-white);
  box-shadow: 0px 6px 30px 0px rgba(var(--eduact-black2-rgb), 0.08);
}

.main-header-two .main-menu__logo {
  padding: 26px 0;
}

.main-header-two .main-menu .main-menu__list > li > a {
  color: var(--eduact-black);
}

.main-header-two .main-menu__list > li.current > a,
.main-header-two .main-menu__list > li:hover > a {
  color: var(--eduact-base);
}

.main-header-two .main-menu .main-menu__list > li {
  padding-top: 3px;
  padding-bottom: 4px;
}

.main-header-two.stricky-header {
  background: var(--eduact-white);
  box-shadow: 0px 6px 30px 0px rgba(var(--eduact-black2-rgb), 0.08);
}

.main-header-two.stricky-header .main-menu__list > li > a {
  color: var(--eduact-black);
}

.main-header-two.stricky-header .main-menu__list > li {
  padding-top: 35px;
  padding-bottom: 40px;
}

.main-header-two.stricky-header .main-menu__list > li.current > a,
.main-header-two.stricky-header .main-menu__list > li:hover > a {
  color: var(--eduact-base);
}

.main-header-two .main-menu__login,
.main-header-two .mobile-nav__toggler,
.main-header-two .main-menu__search {
  color: var(--eduact-black);
}

.main-header-two .main-menu__login:hover,
.main-header-two .mobile-nav__toggler:hover,
.main-header-two .main-menu__search:hover {
  color: var(--eduact-base);
}

.main-header-two .main-menu__nav {
  margin-right: 50px;
}

@media (max-width: 1399px) {
  .main-header-two .main-menu__nav {
    margin-right: 20px;
  }
}


@media (max-width: 1399px) {
  .main-header-two .main-menu .main-menu__list > li + li,
  .main-header-two.stricky-header .main-menu__list > li + li {
    margin-left: 38px;
  }
}



/*--------------------------------------------------------------
# Navigations
--------------------------------------------------------------*/
.main-menu .container {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.main-menu {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 91;
  padding: 0;
}

.main-menu__logo {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .main-menu__logo {
    padding: 30px 0 !important;
  }

}



.main-menu__nav {
  margin-left: auto;
  margin-right: auto;
}

.main-menu,
.stricky-header {
  /* after third level no menu */
}

.main-menu .main-menu__list,
.main-menu .main-menu__list ul,
.stricky-header .main-menu__list,
.stricky-header .main-menu__list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  display: none;
}

@media (min-width: 1200px) {
  .main-menu .main-menu__list,
  .main-menu .main-menu__list ul,
  .stricky-header .main-menu__list,
  .stricky-header .main-menu__list ul {
    display: flex;
  }
}

.main-menu .main-menu__list > li,
.stricky-header .main-menu__list > li {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.main-menu .main-menu__list > li.dropdown > a,
.stricky-header .main-menu__list > li.dropdown > a {
  position: relative;
}

.main-menu .main-menu__list > li.dropdown > a::after,
.stricky-header .main-menu__list > li.dropdown > a::after {
  position: relative;
  right: 0;
  top: 0;
  border-radius: 0;
  font-size: 11px;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color: inherit;
  line-height: 10px;
  margin-left: 5px;
}

.main-menu .main-menu__list > li + li,
.stricky-header .main-menu__list > li + li {
  margin-left: 55px;
}

@media (max-width: 1400px) {
  .main-menu .main-menu__list > li + li,
  .stricky-header .main-menu__list > li + li {
    margin-left: 44px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .main-menu .main-menu__list > li + li,
  .stricky-header .main-menu__list > li + li {
    margin-left: 38px;
  }
}

.main-menu .main-menu__list > li > a,
.stricky-header .main-menu__list > li > a {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-family: var(--heading-font);
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.48px;
  position: relative;
  transition: all 500ms ease;
}

.main-menu .main-menu__list > li.current > a,
.main-menu .main-menu__list > li:hover > a,
.stricky-header .main-menu__list > li.current > a,
.stricky-header .main-menu__list > li:hover > a {
  color: var(--eduact-secondary);
}

.main-menu .main-menu__list li ul,
.stricky-header .main-menu__list li ul {
  position: absolute;
  top: 100%;
  left: -25px;
  min-width: 270px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transform-origin: top center;
  transform: scaleY(0) translateZ(100px);
  transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
  z-index: 99;
  background-color: var(--eduact-white);
  box-shadow: 0px 10px 60px 0px RGBA(var(--eduact-white-rgb), 0.07);
  padding: 15px 20px 10px;
  border-radius: 14px;
}

.main-menu .main-menu__list li:hover > ul,
.stricky-header .main-menu__list li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1) translateZ(0px);
}

.main-menu .main-menu__list > .megamenu,
.stricky-header .main-menu__list > .megamenu {
  position: static;
}

.main-menu .main-menu__list > .megamenu > ul,
.stricky-header .main-menu__list > .megamenu > ul {
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.main-menu .main-menu__list li ul li,
.stricky-header .main-menu__list li ul li {
  flex: 1 1 100%;
  width: 100%;
  position: relative;
}

.main-menu .main-menu__list li ul li > a,
.stricky-header .main-menu__list li ul li > a {
  font-size: 16px;
  line-height: 26px;
  color: var(--eduact-text);
  font-weight: 500;
  font-family: var(--heading-font);
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 400ms;
  margin-bottom: 4px;
}

.main-menu .main-menu__list li ul li > a::after,
.stricky-header .main-menu__list li ul li > a::after {
  position: absolute;
  right: 20px;
  top: 7px;
  border-radius: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  color: var(--eduact-base);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease;
  transform: scale(0);
}

.main-menu .main-menu__list li ul li.current > a,
.main-menu .main-menu__list li ul li:hover > a,
.stricky-header .main-menu__list li ul li.current > a,
.stricky-header .main-menu__list li ul li:hover > a {
  background-color: var(--eduact-black);
  color: var(--eduact-white);
}

.main-menu .main-menu__list li ul li.current > a::after,
.main-menu .main-menu__list li ul li:hover > a::after,
.stricky-header .main-menu__list li ul li.current > a::after,
.stricky-header .main-menu__list li ul li:hover > a::after {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.main-menu .main-menu__list li ul li > ul,
.stricky-header .main-menu__list li ul li > ul {
  top: 0;
  left: calc(100% + 20px);
}

.main-menu .main-menu__list li ul li > ul.right-align,
.stricky-header .main-menu__list li ul li > ul.right-align {
  top: 0;
  left: auto;
  right: 100%;
}

.main-menu .main-menu__list li ul li > ul ul,
.stricky-header .main-menu__list li ul li > ul ul {
  display: none;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .main-menu__list li:nth-last-child(1) ul li > ul,
  .main-menu__list li:nth-last-child(2) ul li > ul {
    left: auto;
    right: calc(100% + 20px);
  }
}

.main-menu__right {
  display: flex;
  align-items: center;
}

.main-menu__right .eduact-btn {
  background-color: var(--eduact-secondary);
  font-size: 16px;
  margin-left: 19px;
  font-weight: 600;
  padding: 7px 20.5px;
  height: 40px;
}

.main-menu__right .eduact-btn:hover .eduact-btn__curve {
  opacity: .2;
}

@media (max-width: 1199px) {
  .main-menu__right .eduact-btn {
    display: none;
  }
}

.main-menu__right .eduact-btn__curve {
  opacity: 0;
}

.main-menu__right .mobile-nav__toggler {
  margin-right: 18px;
}

.main-menu__login,
.main-menu__search {
  position: relative;
  font-size: 20px;
  color: var(--eduact-white);
  display: flex;
  align-items: center;
  height: 50px;
  transition: all 500ms ease;
}

.main-menu__login:hover,
.main-menu__search:hover {
  color: var(--eduact-secondary);
}

.main-menu__login__count,
.main-menu__search__count {
  font-size: 10px;
  font-weight: 600;
  color: var(--eduact-black);
  font-family: var(--heading-font);
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: var(--eduact-base);
  border-radius: 16px;
  position: absolute;
  top: 10px;
  right: -6px;
  opacity: 0;
  transition: all 300ms linear 0ms;
}

.main-menu__login:hover .main-menu__login__count,
.main-menu__search:hover .main-menu__login__count, .main-menu__login:hover
.main-menu__search__count,
.main-menu__search:hover
.main-menu__search__count {
  opacity: 1;
}

.main-menu__login {
  font-size: 50px;
  margin-left: 11px;
}

.stricky-header {
  position: fixed;
  z-index: 991;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 10px 60px 0px RGBA(var(--eduact-black-rgb), 0.07);
  width: 100%;
  transform: translateY(-120%);
  transition: transform 500ms ease;
}

@media (max-width: 1199px) {
  .stricky-header {
    display: none;
  }
}

.stricky-header.stricky-fixed {
  transform: translateY(0);
}



/*-- header three --*/
.main-menu-with-bg {
  background: rgba(246, 246, 246, 0.42);
}

.main-menu-with-bg.stricky-header {
  background: var(--eduact-white);
}

.main-menu-with-bg .main-menu__logo {
  padding: 26px 0;
}

.main-menu-with-bg.main-menu .main-menu__list > li,
.main-menu-with-bg.stricky-header .main-menu__list > li {
  padding-top: 35px;
  padding-bottom: 40px;
}

.main-menu-with-bg.main-menu .main-menu__list > li > a,
.main-menu-with-bg.stricky-header .main-menu__list > li > a {
  color: var(--eduact-black);
}

.main-menu-with-bg.main-menu .main-menu__list > li.current > a,
.main-menu-with-bg.main-menu .main-menu__list > li:hover > a,
.main-menu-with-bg.stricky-header .main-menu__list > li.current > a,
.main-menu-with-bg.stricky-header .main-menu__list > li:hover > a {
  color: var(--eduact-base);
}

.main-menu-with-bg .main-menu__login,
.main-menu-with-bg .mobile-nav__toggler,
.main-menu-with-bg .main-menu__search {
  color: var(--eduact-black);
}

.main-menu-with-bg .main-menu__login:hover,
.main-menu-with-bg .mobile-nav__toggler:hover,
.main-menu-with-bg .main-menu__search:hover {
  color: var(--eduact-base);
}

.main-menu__info {
  position: relative;
  background-color: var(--eduact-base);
  border-radius: 60px 0px 0px 60px;
  padding: 24px 49px 16px 85px;
  max-width: 256px;
  font-size: 14px;
  color: var(--eduact-white);
  font-weight: 600;
  line-height: 23px;
  min-height: 84px;
  margin-left: 49px;
}

@media (max-width: 1399px) {
  .main-menu__info {
    margin-left: 15px;
    max-width: 232px;
    padding-right: 25px;
  }
}

@media (max-width: 767px) {
  .main-menu__info {
    display: none;
  }
}

@media (min-width: 991px) {
  .main-menu__login {
    display: none;
  }
}

.main-menu__info span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: var(--eduact-white);
  font-size: 28px;
  color: var(--eduact-base);
  position: absolute;
  left: 15px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.main-menu__info a {
  display: block;
  font-size: 18px;
  color: inherit;
  line-height: 1;
  margin-bottom: 1px;
}

.main-menu__info a:hover {
  color: var(--eduact-secondary);
}

/*--------------------------------------------------------------
# Megamenu Popup
--------------------------------------------------------------*/
.mobile-nav__container .main-menu__list > .megamenu.megamenu-clickable > ul,
.main-menu .main-menu__list > .megamenu.megamenu-clickable > ul,
.stricky-header .main-menu__list > .megamenu.megamenu-clickable > ul {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
  z-index: 999999;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  padding: 0;
  background-color: var(--eduact-white);
  display: block !important;
  margin: 0;
}

.main-menu__list > li.megamenu-clickable > ul::-webkit-scrollbar {
  display: none;
}

.mobile-nav__container .main-menu__list > .megamenu.megamenu-clickable > ul.megamenu-clickable--active,
.main-menu .main-menu__list > .megamenu.megamenu-clickable > ul.megamenu-clickable--active,
.stricky-header .main-menu__list > .megamenu.megamenu-clickable > ul.megamenu-clickable--active {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  visibility: visible;
  transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s ease;
}


.mobile-nav__content .main-menu__nav {
  display: block;
  padding: 0;
}



/*--------------------------------------------------------------
# Mobile Nav
--------------------------------------------------------------*/
.mobile-nav__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(-100%);
  transform-origin: left center;
  transition: transform 500ms ease 500ms, visibility 500ms ease 500ms;
  visibility: hidden;
  position: fixed;
}

.mobile-nav__wrapper .container {
  padding-left: 0;
  padding-right: 0;
}

.mobile-nav__wrapper .home-showcase .row [class*="col-"] {
  flex: 0 0 100%;
}

.mobile-nav__wrapper .home-showcase {
  margin-bottom: -1px;
  margin-top: 0;
  border-bottom: 1px solid RGBA(var(--eduact-white-rgb), 0.1);
}

.mobile-nav__wrapper .home-showcase__inner {
  padding: 15px 0px;
  background-color: transparent;
  box-shadow: none;
}

.mobile-nav__wrapper .home-showcase__title {
  color: var(--eduact-white);
}

.mobile-nav__wrapper.expanded {
  opacity: 1;
  transform: translateX(0%);
  visibility: visible;
  transition: transform 500ms ease 0ms, visibility 500ms ease 0ms;
}

.mobile-nav__wrapper.expanded .mobile-nav__content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms;
}

.mobile-nav__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--eduact-black);
  opacity: 0.3;
  cursor: url(../images/close.png), auto;
}



.mobile-nav__content .logo-box {
  margin-bottom: 40px;
  display: flex;
}

.mobile-nav__close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 18px;
  color: var(--eduact-white);
  cursor: pointer;
}

.mobile-nav__close:hover {
  color: var(--eduact-base);
}

.mobile-nav__content .main-menu__list,
.mobile-nav__content .main-menu__list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobile-nav__content .main-menu__list ul {
  display: none;
  border-top: 1px solid RGBA(var(--eduact-white-rgb), 0.1);
}

.mobile-nav__content .main-menu__list ul li > a {
  padding-left: 1em;
}

.mobile-nav__content .main-menu__list li:not(:last-child) {
  border-bottom: 1px solid RGBA(var(--eduact-white-rgb), 0.1);
}



.mobile-nav__content .main-menu__list li a.expanded {
  color: var(--eduact-base);
}

.mobile-nav__content .main-menu__list li a button {
  width: 30px;
  height: 30px;
  background-color: var(--eduact-base);
  border: none;
  outline: none;
  color: var(--eduact-white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(-90deg);
  transition: transform 500ms ease;
}

.mobile-nav__content .main-menu__list li a button.expanded {
  transform: rotate(0deg);
  background-color: var(--eduact-white);
  color: var(--eduact-black);
}



.mobile-nav__social a:hover {
  color: var(--eduact-base);
}

.mobile-nav__contact {
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobile-nav__social a {
  font-size: 44px;
  color: var(--eduact-white);
  transition: 500ms;
}

.mobile-nav__contact li {
  color: var(--eduact-white);
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}

.mobile-nav__contact li + li {
  margin-top: 15px;
}


.mobile-nav__contact li a:hover {
  color: var(--eduact-base);
}



.mobile-nav__container .main-menu__logo,
.mobile-nav__container .main-menu__right {
  display: none;
}


.mobile-nav__buttons {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

@media (min-width: 1200px) {
  .mobile-nav__buttons {
    display: none;
  }
}

.mobile-nav__buttons a {
  font-size: 20px;
  color: var(--eduact-white);
  cursor: pointer;
}

.mobile-nav__buttons a + a {
  margin-left: 10px;
}

.mobile-nav__buttons a:hover {
  color: var(--eduact-base);
}



.mobile-nav__toggler:hover {
  color: var(--eduact-base);
}

@media (min-width: 1200px) {
  .mobile-nav__toggler {
    display: none;
  }
}



body.megamenu-popup-active {
  overflow: hidden;
}

body.megamenu-popup-active .stricky-header {
  bottom: 0;
}

body.megamenu-popup-active .mobile-nav__content {
  overflow: unset;
}

.mobile-nav__content .demos-one .container {
  padding-left: 15px;
  padding-right: 15px;
}

.megamenu-popup {
  position: relative;
}

.megamenu-popup .megamenu-clickable--close {
  position: absolute;
  top: 18px;
  right: 20px;
  display: block;
  font-size: 20px;
  color: var(--eduact-black2);
}

@media (min-width: 1300px) {
  .megamenu-popup .megamenu-clickable--close {
    top: 38px;
    right: 40px;
    font-size: 24px;
  }
}

.megamenu-popup .megamenu-clickable--close:hover {
  color: var(--eduact-base);
}
/* 
.mobile-nav__content .main-menu__list li > a {
  display: flex;
  justify-content: space-between;
  line-height: 53px;
  color: var(--eduact-white);
  font-size: 38px;
  font-family: var(--heading-font);
  text-transform: capitalize;
  font-weight: 600;
  height: 85px;
  letter-spacing: 0.48px;
  align-items: center;
  transition: 500ms;
} */

.mobile-nav__content .main-menu__list li > a {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: var(--eduact-white);
  font-size: 16px;
  font-family: var(--heading-font);
  text-transform: capitalize;
  font-weight: 600;
  height: 46px;
  letter-spacing: 0.48px;
  align-items: center;
  transition: 500ms;
}

.mobile-nav__content {
  width: 400px;
  background-color: #212330;
  z-index: 10;
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 53px;
  padding-right: 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms;
}

.mobile-nav__contact li a {
  color: inherit;
  transition: 500ms;
  font-size: 22px;
  line-height: 55px;
}

.mobile-nav__contact li > i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #5f6df1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  margin-right: 10px;
  color: var(--eduact-white);
}

.mobile-nav__social a + a {
  margin-left: 32px;
}

.mobile-nav__social {
  display: flex;
  align-items: center;
  margin-top: 41px;
}

.mobile-nav__toggler {
  font-size: 50px;
  color: var(--eduact-white);
  cursor: pointer;
  transition: 500ms;
}

.mobile-nav__close {
  position: absolute;
  top: 16px;
  right: 21px;
  font-size: 50px;
  color: var(--eduact-white);
  cursor: pointer;
}

.stricky-header a {
  color: #000000 !important;
}